<a href="https://colab.research.google.com/github/JimKing100/Jestimate/blob/master/Jestimate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd

from bokeh.models import ColumnDataSource, TableColumn, DataTable
from bokeh.layouts import column
from bokeh.models.widgets import TextInput
from bokeh.plotting import curdoc

initial_data = pd.read_csv('https://raw.githubusercontent.com/JimKing100/SF_Real_Estate_Live/master/data/SF-SFR-Sales-Final1.csv')
initial_data.head()

    longitude   latitude  ... year_built zoning
0 -122.466620  37.753273  ...       1932    RH1
1 -122.466670  37.753850  ...       1908    RH1
2 -122.466700  37.754070  ...       1906    RH1
3 -122.466965  37.758057  ...       1914    NaN
4 -122.466910  37.757130  ...       1938    RH2

[5 rows x 30 columns]

In [12]:
data = initial_data[['full_address', 'subdist_desc', 'longitude', 'latitude']]
data = data.drop_duplicates()

data.head()

                                  full_address  ...   latitude
0  1878 10th Ave, San Francisco, CA 94122-4602  ...  37.753273
1  1842 10th Ave, San Francisco, CA 94122-4602  ...  37.753850
2       1829 10th Ave, San Francisco, CA 94122  ...  37.754070
3       1612 10th Ave, San Francisco, CA 94122  ...  37.758057
4       1671 10th Ave, San Francisco, CA 94122  ...  37.757130

[5 rows x 4 columns]

In [0]:
source = ColumnDataSource(data)

columns = [TableColumn(field = "full_address", title = "Address")]

data_table = DataTable(source = source, columns = columns, width = 280, height = 280, editable = False)
table_row = TextInput(value = '', title = "Row index:")
table_cell_column_1 = TextInput(value = '', title = "Address")

def function_source(attr, old, new):
    try:
        selected_index = source.selected.indices[0]
        table_row.value = str(selected_index)
        table_cell_column_1.value = str(source.data["full_address"][selected_index])
    except IndexError:
        pass

source.selected.on_change('indices', function_source)
curdoc().add_root(column(data_table, table_row, table_cell_column_1))