<a href="https://colab.research.google.com/github/JimKing100/Jestimate/blob/master/Jestimate1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
import pandas as pd

from bokeh.models import ColumnDataSource, TableColumn, DataTable, CDSView, GroupFilter
from bokeh.layouts import column
from bokeh.models.widgets import TextInput
from bokeh.plotting import curdoc

data = pd.read_csv('https://raw.githubusercontent.com/JimKing100/Jestimate/master/data/display_data.csv')
data.head()

   Unnamed: 0  ... difference
0           5  ...    -483613
1           7  ...      74294
2           9  ...      63829
3          15  ...      68572
4          17  ...    -179364

[5 rows x 6 columns]

In [64]:
data['full_address'] = data.apply(lambda x: x['full_address'].split(',')[0], axis=1)
data.head()

   Unnamed: 0        full_address  ... prediction  difference
0           5        618 48th Ave  ...    3793613     -483613
1           7    1434 La Playa St  ...    1229705       74294
2           9  1516 Great Highway  ...    1766170       63829
3          15        739 48th Ave  ...    1581427       68572
4          17    1492 La Playa St  ...    1479364     -179364

[5 rows x 6 columns]

In [0]:
source = ColumnDataSource(data)
hood = '1 - Outer Richmond'
view1 = CDSView(source=source, filters=[GroupFilter(column_name='neighborhood', group=hood)])

columns = [TableColumn(field = 'full_address', title = 'Address')]

data_table = DataTable(source = source, view = view1, columns = columns, width = 280, height = 280, editable = False)
table_address = TextInput(value = '', title = 'Address')
table_actual = TextInput(value = '', title = 'Actual Sale Price')
table_predicted = TextInput(value = '', title = 'Predicted Sale Price')
table_diff = TextInput(value = '', title = 'Difference')

def function_source(attr, old, new):
    try:
        selected_index = source.selected.indices[0]
        table_address.value = str(source.data['full_address'][selected_index])
        table_actual.value = '${:,}'.format((source.data['sale_price'][selected_index]))
        table_predicted.value = '${:,}'.format((source.data['prediction'][selected_index]))
        table_diff.value = '${:,}'.format(source.data['difference'][selected_index])
    except IndexError:
        pass

source.selected.on_change('indices', function_source)
curdoc().add_root(column(data_table, table_address, table_actual, table_predicted, table_diff))