<a href="https://colab.research.google.com/github/JimKing100/Jestimate/blob/master/Jestimate1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

from bokeh.models import ColumnDataSource, TableColumn, DataTable
from bokeh.layouts import column
from bokeh.models.widgets import TextInput
from bokeh.plotting import curdoc

data = pd.read_csv('https://raw.githubusercontent.com/JimKing100/Jestimate/master/data/display_data.csv')
data.head()

   Unnamed: 0  ... difference
0           5  ...    -483613
1           7  ...      74294
2           9  ...      63829
3          15  ...      68572
4          17  ...    -179364

[5 rows x 6 columns]

In [0]:
source = ColumnDataSource(data)

columns = [TableColumn(field = "full_address", title = "Address")]

data_table = DataTable(source = source, columns = columns, width = 280, height = 280, editable = False)
table_row = TextInput(value = '', title = "Row index:")
table_cell_column_1 = TextInput(value = '', title = "Address")

def function_source(attr, old, new):
    try:
        selected_index = source.selected.indices[0]
        table_row.value = str(selected_index)
        table_cell_column_1.value = str(source.data["full_address"][selected_index])
    except IndexError:
        pass

source.selected.on_change('indices', function_source)
curdoc().add_root(column(data_table, table_row, table_cell_column_1))