<a href="https://colab.research.google.com/github/JimKing100/Jestimate/blob/master/Jestimate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd

from bokeh.models import ColumnDataSource, TableColumn, DataTable
from bokeh.layouts import column
from bokeh.models.widgets import TextInput
from bokeh.plotting import curdoc

initial_data = pd.read_csv('https://raw.githubusercontent.com/JimKing100/SF_Real_Estate_Live/master/data/SF-SFR-Sales-Final1.csv')
data = initial_data.loc[:,['full_address']]
data = data.drop_duplicates()

data.head()

                                  full_address
0  1878 10th Ave, San Francisco, CA 94122-4602
1  1842 10th Ave, San Francisco, CA 94122-4602
2       1829 10th Ave, San Francisco, CA 94122
3       1612 10th Ave, San Francisco, CA 94122
4       1671 10th Ave, San Francisco, CA 94122

In [0]:
source = ColumnDataSource(data)

columns = [TableColumn(field = "full_address", title = "Address")]

data_table = DataTable(source = source, columns = columns, width = 280, height = 280, editable = False)
table_row = TextInput(value = '', title = "Row index:")
table_cell_column_1 = TextInput(value = '', title = "Address")

def function_source(attr, old, new):
    try:
        selected_index = source.selected.indices[0]
        table_row.value = str(selected_index)
        table_cell_column_1.value = str(source.data["full_address"][selected_index])
    except IndexError:
        pass

source.selected.on_change('indices', function_source)
curdoc().add_root(column(data_table, table_row, table_cell_column_1))