<a href="https://colab.research.google.com/github/JimKing100/Jestimate/blob/master/Main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Import libraries
import pandas as pd
import numpy as np

from datetime import datetime

In [28]:
# Load SF real estate data - 10 years (2009-2018) of single family home sales in San Francisco downloaded from the SF MLS
# Longitude and latitude were added to the csv file prior to loading using geocoding.geo.census.gov 
df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/Jestimate/master/data/SF-SFR-Sales-Final2d.csv')

# Rename subdistr_desc to neighborhood
df = df.rename(columns={'subdist_desc': 'neighborhood'})

# Check the data
print(df.shape)
df.head(5)

(23711, 39)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   longitude   latitude  ...            type                views
0 -122.50965  37.780280  ...            3STR  PNRM,OCEN,PARK,GRDN
1 -122.50929  37.762608  ...               0                    0
2 -122.50929  37.762608  ...               0                    0
3 -122.50924  37.777330  ...  ATAC,2STR,FIXR       WATR,OCEN,PARK
4 -122.50919  37.776695  ...            3STR  PNRM,CTYL,OCEN,PARK

[5 rows x 39 columns]

In [29]:
# Check for nulls
df.isnull().sum()

longitude            469
latitude             469
elevation            469
full_address           0
city                   0
state                  0
street_no              0
street_name            0
street_suffix       1613
zip                    0
area                   0
district_no            0
district_desc          0
subdist_no             0
neighborhood           0
on_market_date         0
cdom                   0
orig_list_price        0
sale_date              0
sale_price             0
rooms                  0
baths                  0
beds                   0
sf_source              0
sf_source_decs         0
sf                     0
lot_acres          13379
lot_sf                 0
year_built             0
zoning             10880
lot_desc               0
drive_side             0
parking                0
park_leased            0
num_parking            0
shopping               0
transportation         0
type                   0
views                  0
dtype: int64

In [30]:
# Check for zeros
(df == 0).sum()

longitude              0
latitude               0
elevation              0
full_address           0
city                   0
state                  0
street_no              0
street_name            0
street_suffix          0
zip                    0
area                   0
district_no            0
district_desc          0
subdist_no             0
neighborhood           0
on_market_date         0
cdom                 806
orig_list_price        0
sale_date              0
sale_price             0
rooms               7251
baths                 26
beds                 141
sf_source              0
sf_source_decs         0
sf                  3781
lot_acres              1
lot_sf             13404
year_built          1409
zoning                 0
lot_desc               0
drive_side             0
parking                0
park_leased            0
num_parking         1412
shopping               0
transportation         0
type                   0
views                  0
dtype: int64

In [31]:
# Baseline of sale_price
df['sale_price'].mean()

1371454.081312471

In [33]:
# Train, test split on date of 01/01/2018
df['sale_date'] = pd.to_datetime(df['sale_date'], infer_datetime_format=True)
cutoff = pd.to_datetime('2018-01-01')
train = df[df['sale_date'] < cutoff]
test  = df[df['sale_date'] >= cutoff]

print(train.shape)
print(test.shape)

(21487, 39)
(2224, 39)